<footer>
    <div class="container bg-f">
        <div class="footer-block">
            <div class="f-block-b des_mobi_footer">
                <div class="f-logo-block">
                    <div class="f-logo-item-b">
                        <img src="/images/BURDO%20LOGOFooter.png" alt="">
                    </div>
                    <p class="f-des-logo">Надежный поставщик сельхозтехники,оборудования для животноводства</p>
                </div>
                <ul class="f-nav-panel ">
                    <li class="f-nav-title "><span>Меню</span></li>
                    <li class="mar-b-10"><a href="/catalog_tractors_models" >Каталог техники</a></li>
                    <li class="mar-b-10"><a href="/catalog_spare_parts" >Каталог запасных частей</a></li>
                    <li class="mar-b-10"><a href="/about_us" >О компании</a></li>
                    <li><a href="/contact">Контакты</a></li>
                </ul>
                <ul class="f-nav-panel  f-sec-b ">
                    <li class="f-nav-title"><span>Адрес</span></li>
                    <li class=""><p>Узбекистан, Ташкент, Мирабадский район, ул.Шахрисабз, 16a</p></li>
                    <li><p>Будни 09:00 - 18:00</p></li>
                </ul>
                <ul class="f-nav-panel ">
                    <li class="f-nav-title"><span>Связаться с нами</span></li>
                    <li class="mar-b-15 f-num-tex"><a href="tel:+998881390912" >+998 (88) 139-09-12</a></li>
                    <li class="mar-b-15 f-num-tex"><a href="tel:+998884930912" >+998 (88) 493-09-12</a></li>
                    <li class="f-soc_li">
                        <div class="p-b-soc">
                            <div class="">
                                <a href="" class="p-b-soc-cell ">
                                    <svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" class="p-b-soc-icon">
                                        <path d="M7.5 1.25C9.19813 1.25 9.41 1.25625 10.0763 1.2875C10.7419 1.31875 11.195 1.42313 11.5938 1.57813C12.0063 1.73688 12.3538 1.95188 12.7013 2.29875C13.0191 2.61119 13.265 2.98912 13.4219 3.40625C13.5763 3.80438 13.6813 4.25813 13.7125 4.92375C13.7419 5.59 13.75 5.80188 13.75 7.5C13.75 9.19813 13.7438 9.41 13.7125 10.0763C13.6813 10.7419 13.5763 11.195 13.4219 11.5938C13.2654 12.0111 13.0195 12.3891 12.7013 12.7013C12.3887 13.019 12.0108 13.2648 11.5938 13.4219C11.1956 13.5763 10.7419 13.6813 10.0763 13.7125C9.41 13.7419 9.19813 13.75 7.5 13.75C5.80188 13.75 5.59 13.7438 4.92375 13.7125C4.25813 13.6813 3.805 13.5763 3.40625 13.4219C2.98895 13.2653 2.61095 13.0193 2.29875 12.7013C1.98088 12.3889 1.73496 12.0109 1.57813 11.5938C1.42313 11.1956 1.31875 10.7419 1.2875 10.0763C1.25812 9.41 1.25 9.19813 1.25 7.5C1.25 5.80188 1.25625 5.59 1.2875 4.92375C1.31875 4.2575 1.42313 3.805 1.57813 3.40625C1.73452 2.98886 1.9805 2.61083 2.29875 2.29875C2.61104 1.98077 2.98902 1.73483 3.40625 1.57813C3.805 1.42313 4.2575 1.31875 4.92375 1.2875C5.59 1.25812 5.80188 1.25 7.5 1.25ZM7.5 4.375C6.6712 4.375 5.87634 4.70424 5.29029 5.29029C4.70424 5.87634 4.375 6.6712 4.375 7.5C4.375 8.3288 4.70424 9.12366 5.29029 9.70971C5.87634 10.2958 6.6712 10.625 7.5 10.625C8.3288 10.625 9.12366 10.2958 9.70971 9.70971C10.2958 9.12366 10.625 8.3288 10.625 7.5C10.625 6.6712 10.2958 5.87634 9.70971 5.29029C9.12366 4.70424 8.3288 4.375 7.5 4.375ZM11.5625 4.21875C11.5625 4.01155 11.4802 3.81284 11.3337 3.66632C11.1872 3.51981 10.9885 3.4375 10.7813 3.4375C10.5741 3.4375 10.3753 3.51981 10.2288 3.66632C10.0823 3.81284 10 4.01155 10 4.21875C10 4.42595 10.0823 4.62466 10.2288 4.77118C10.3753 4.91769 10.5741 5 10.7813 5C10.9885 5 11.1872 4.91769 11.3337 4.77118C11.4802 4.62466 11.5625 4.42595 11.5625 4.21875ZM7.5 5.625C7.99728 5.625 8.4742 5.82254 8.82583 6.17417C9.17746 6.52581 9.375 7.00272 9.375 7.5C9.375 7.99728 9.17746 8.4742 8.82583 8.82583C8.4742 9.17746 7.99728 9.375 7.5 9.375C7.00272 9.375 6.52581 9.17746 6.17417 8.82583C5.82254 8.4742 5.625 7.99728 5.625 7.5C5.625 7.00272 5.82254 6.52581 6.17417 6.17417C6.52581 5.82254 7.00272 5.625 7.5 5.625Z" fill="white"/>
                                    </svg>
                                </a>
                            </div>
                            <a href="" class="p-b-soc-cell mar-l-r-15">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="p-b-soc-icon">
                                    <path d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"/>
                                </svg>
                            </a>
                            <a href="" class="p-b-soc-cell ">
                                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="p-b-soc-icon_tg">
                                    <path d="M5.43184 11.8732C8.93059 10.3492 11.2631 9.34442 12.4293 8.85898C15.7631 7.47279 16.455 7.23204 16.9068 7.22389C17.0062 7.22229 17.2275 7.24686 17.3718 7.36357C17.4918 7.46201 17.5256 7.59514 17.5425 7.68861C17.5575 7.78198 17.5781 7.99479 17.5612 8.16092C17.3812 10.0584 16.5993 14.663 16.2018 16.7884C16.035 17.6876 15.7031 17.9891 15.3825 18.0185C14.685 18.0827 14.1562 17.558 13.4812 17.1157C12.4256 16.4233 11.8293 15.9924 10.8037 15.3169C9.61872 14.5361 10.3875 14.1069 11.0625 13.4057C11.2387 13.2221 14.31 10.4293 14.3681 10.176C14.3756 10.1443 14.3831 10.0262 14.3118 9.96392C14.2425 9.90148 14.1393 9.92286 14.0643 9.93973C13.9575 9.96373 12.2718 11.079 9.00184 13.2853C8.52372 13.6142 8.09059 13.7745 7.70059 13.766C7.27309 13.7569 6.44809 13.5238 5.83497 13.3247C5.08497 13.0804 4.48684 12.9512 4.53934 12.5362C4.56559 12.3202 4.86372 12.0992 5.43184 11.8732Z" fill="white"/>
                                </svg>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="prop-block des_mobi_footer">
                <div class="p-b-name">
                    <p class="p-b-name-text mar-b-15 mob_mar-30">© 2023  Ташкент. Все права защищены</p>
                    <p class="p-b-name-text">OOO “Burdo Result Trade”</p>
                </div>
                <div class="f-info_context">
                    <p class="f-size">Вся информация, размещенная на сайте носит ознокомительный характер может отличаться от действительности</p>
                    <div class=""><a href="" class="p-b-doc p-b-name-text">Политика конфидециальности</a></div>
                </div>
            </div>
            <div class="f-block-b border_def">
                <div class="tablet_footer mar-r-95 ">
                    <div class="f-logo-block">
                        <div class="f-logo-item-b">
                            <img src="/images/BURDO%20LOGOFooter.png" alt="">
                        </div>
                        <p class="f-des-logo">Надежный поставщик сельхозтехники,оборудования для животноводства</p>
                    </div>
                    <ul class="f-nav-panel mar-t-70 ">
                        <li class="f-nav-title"><span>Связаться с нами</span></li>
                        <li class="mar-b-15 f-num-tex"><a href="tel:+998881390912">+998 (88) 139-09-12</a></li>
                        <li class="mar-b-15 f-num-tex"><a href="tel:+998884930912">+998 (88) 493-09-12</a></li>
                        <li>
                            <div class="p-b-soc">
                                <div class="">
                                    <a href="" class="p-b-soc-cell ">
                                        <svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" class="p-b-soc-icon">
                                            <path d="M7.5 1.25C9.19813 1.25 9.41 1.25625 10.0763 1.2875C10.7419 1.31875 11.195 1.42313 11.5938 1.57813C12.0063 1.73688 12.3538 1.95188 12.7013 2.29875C13.0191 2.61119 13.265 2.98912 13.4219 3.40625C13.5763 3.80438 13.6813 4.25813 13.7125 4.92375C13.7419 5.59 13.75 5.80188 13.75 7.5C13.75 9.19813 13.7438 9.41 13.7125 10.0763C13.6813 10.7419 13.5763 11.195 13.4219 11.5938C13.2654 12.0111 13.0195 12.3891 12.7013 12.7013C12.3887 13.019 12.0108 13.2648 11.5938 13.4219C11.1956 13.5763 10.7419 13.6813 10.0763 13.7125C9.41 13.7419 9.19813 13.75 7.5 13.75C5.80188 13.75 5.59 13.7438 4.92375 13.7125C4.25813 13.6813 3.805 13.5763 3.40625 13.4219C2.98895 13.2653 2.61095 13.0193 2.29875 12.7013C1.98088 12.3889 1.73496 12.0109 1.57813 11.5938C1.42313 11.1956 1.31875 10.7419 1.2875 10.0763C1.25812 9.41 1.25 9.19813 1.25 7.5C1.25 5.80188 1.25625 5.59 1.2875 4.92375C1.31875 4.2575 1.42313 3.805 1.57813 3.40625C1.73452 2.98886 1.9805 2.61083 2.29875 2.29875C2.61104 1.98077 2.98902 1.73483 3.40625 1.57813C3.805 1.42313 4.2575 1.31875 4.92375 1.2875C5.59 1.25812 5.80188 1.25 7.5 1.25ZM7.5 4.375C6.6712 4.375 5.87634 4.70424 5.29029 5.29029C4.70424 5.87634 4.375 6.6712 4.375 7.5C4.375 8.3288 4.70424 9.12366 5.29029 9.70971C5.87634 10.2958 6.6712 10.625 7.5 10.625C8.3288 10.625 9.12366 10.2958 9.70971 9.70971C10.2958 9.12366 10.625 8.3288 10.625 7.5C10.625 6.6712 10.2958 5.87634 9.70971 5.29029C9.12366 4.70424 8.3288 4.375 7.5 4.375ZM11.5625 4.21875C11.5625 4.01155 11.4802 3.81284 11.3337 3.66632C11.1872 3.51981 10.9885 3.4375 10.7813 3.4375C10.5741 3.4375 10.3753 3.51981 10.2288 3.66632C10.0823 3.81284 10 4.01155 10 4.21875C10 4.42595 10.0823 4.62466 10.2288 4.77118C10.3753 4.91769 10.5741 5 10.7813 5C10.9885 5 11.1872 4.91769 11.3337 4.77118C11.4802 4.62466 11.5625 4.42595 11.5625 4.21875ZM7.5 5.625C7.99728 5.625 8.4742 5.82254 8.82583 6.17417C9.17746 6.52581 9.375 7.00272 9.375 7.5C9.375 7.99728 9.17746 8.4742 8.82583 8.82583C8.4742 9.17746 7.99728 9.375 7.5 9.375C7.00272 9.375 6.52581 9.17746 6.17417 8.82583C5.82254 8.4742 5.625 7.99728 5.625 7.5C5.625 7.00272 5.82254 6.52581 6.17417 6.17417C6.52581 5.82254 7.00272 5.625 7.5 5.625Z" fill="white"/>
                                        </svg>
                                    </a>
                                </div>
                                <a href="" class="p-b-soc-cell mar-l-r-15">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="p-b-soc-icon">
                                        <path d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"/>
                                    </svg>
                                </a>
                                <a href="" class="p-b-soc-cell ">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="p-b-soc-icon_tg">
                                        <path d="M5.43184 11.8732C8.93059 10.3492 11.2631 9.34442 12.4293 8.85898C15.7631 7.47279 16.455 7.23204 16.9068 7.22389C17.0062 7.22229 17.2275 7.24686 17.3718 7.36357C17.4918 7.46201 17.5256 7.59514 17.5425 7.68861C17.5575 7.78198 17.5781 7.99479 17.5612 8.16092C17.3812 10.0584 16.5993 14.663 16.2018 16.7884C16.035 17.6876 15.7031 17.9891 15.3825 18.0185C14.685 18.0827 14.1562 17.558 13.4812 17.1157C12.4256 16.4233 11.8293 15.9924 10.8037 15.3169C9.61872 14.5361 10.3875 14.1069 11.0625 13.4057C11.2387 13.2221 14.31 10.4293 14.3681 10.176C14.3756 10.1443 14.3831 10.0262 14.3118 9.96392C14.2425 9.90148 14.1393 9.92286 14.0643 9.93973C13.9575 9.96373 12.2718 11.079 9.00184 13.2853C8.52372 13.6142 8.09059 13.7745 7.70059 13.766C7.27309 13.7569 6.44809 13.5238 5.83497 13.3247C5.08497 13.0804 4.48684 12.9512 4.53934 12.5362C4.56559 12.3202 4.86372 12.0992 5.43184 11.8732Z" fill="white"/>
                                    </svg>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tablet_footer mar-r-120">
                    <ul class="f-nav-panel ">
                        <li class="f-nav-title "><span>Меню</span></li>
                        <li class="mar-b-10"><a href="/catalog_tractors_models" >Каталог техники</a></li>
                        <li class="mar-b-10"><a href="/catalog_spare_parts" >Каталог запасных частей</a></li>
                        <li class="mar-b-10"><a href="/about_us" >О компании</a></li>
                        <li><a href="/contact">Контакты</a></li>
                    </ul>
                    <ul class="f-nav-panel mar-t-50 f-sec-b ">
                        <li class="f-nav-title"><span>Адрес</span></li>
                        <li class=""><p>Узбекистан, Ташкент, Мирабадский район, ул.Шахрисабз, 16a</p></li>
                        <li><p>Будни 09:00 - 18:00</p></li>
                    </ul>
                </div>
            </div>
            <div class="prop-block tablet_footer">
                <div class="f-text-con">
                    <p class="f-size">Вся информация, размещенная на сайте носит ознокомительный характер может отличаться от действительности</p>
                </div>
                <div class="p-b-name">
                    <p class="p-b-name-text mar-b-15 mob_mar-30">© 2023 Ташкент. Все права защищены</p>
                    <div class=""><a href="" class="p-b-doc p-b-name-text">Политика конфидециальности</a></div>
                </div>
                <div class="f-info_context">
                    <p class="p-b-name-text">OOO “Burdo Result Trade”</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="/js/main-file.js"></script>
</body>
</html>
