<header>
    <div class="container">
        <div class="header">
            <a href="../main-page/index.html">
                <div class="logo">
                    <img src="/images/BURDO%20LOGO%201.png" alt="" class="logo_img">
                </div>
            </a>
            <div class="nav-panel-main">
                <ul class="nav-up">
                    <li>
                        <span class="nav-t n-mob_t">Узбекистан, Ташкент, Мирабадский <br>район, ул.Шахрисабз, 16a</span>
                        <a href="">
                            <img src="/images/location.png" alt="" class="icon-nav">
                        </a>
                    </li>
                    <li>
                        <span class="nav-t n-mob_t">Свяжитесь с нами <br> через мессенджеры</span>
                        <a href="https://web.telegram.org/z/">
                            <img src="/images/logos_telegram.png" alt="" class="icon-nav">
                        </a>
                        <a href="https://www.whatsapp.com/">
                            <img src="/images/logos_whatsapp-icon.png" alt="" class="icon-nav">
                        </a>
                    </li>
                    <li>
                        <div class="nav-b rou">
                            <a href="tel:+998881390912">
                                <span class="nav-l">+998 (88) 139-09-12</span>
                            </a>
                            <span class="nav-t ">Заказать звонок</span>
                        </div>
                    </li>
                    <li class="nav-el ">
                        <div class="nav-b eclipse">
                            <span class="nav-t ">Эллектронная почта</span>
                            <a href="mailto:brtrade.uz@gmail.com" class="nav-l">brtrade.uz@gmail.com</a>
                        </div>
                    </li>
                </ul>
                <ul class="nav-down">
                    <li><a href="../catalog-tractors-models/index.html" ><span class="nav-t text-form ">Каталог техники</span></a></li>
                    <li><a href="../catalog-spare-parts/index.html"><span class="nav-t text-form">Каталог запасных частей</span></a></li>
                    <li><a href="../about-us/index.html"><span class="nav-t text-form">о КОМПАНИ</span></a></li>
                    <li><a href="../contact/index.html"><span class="nav-t text-form">КОНТАКТЫ</span></a></li>
                </ul>
            </div>
            <div class="btn_nav_panel"><img src="/images/Menu.png" alt=""></div>
        </div>
    </div>
    <div class="background_r-nav-menu">
        <ul class="r-nav-menu">
            <li class="r-nav">
                <button class="r-nav-title-btn add_block r-n-f_btn">
                    <p class="r-nav-title-text">КАТАЛОГ ТЕХНИКИ</p>
                    <div class="r-nav-icon"> </div>
                </button>
                <div class="r-n-block_link">
                    <a href="">
                        <p class="r-nav-text-link">Мини-техника</p>
                    </a>
                    <a href="">
                        <p class="r-nav-text-link">Почвообработка</p>
                    </a>
                    <a href="">
                        <p class="r-nav-text-link">Посев</p>
                    </a>
                    <a href="">
                        <p class="r-nav-text-link">Внесения удобрений</p>
                    </a>
                    <a href="">
                        <p class="r-nav-text-link">Защита растений</p>
                    </a>
                    <a href="">
                        <p class="r-nav-text-link">Возделывание картофеля и других овощных культур</p>
                    </a>
                </div>
            </li>
            <li class="r-nav">
                <button class="r-nav-title-btn add_block r-n-t_btn">
                    <p class="r-nav-title-text">Каталог запасных частей</p>
                    <div  class="r-nav-icon"></div>
                </button>
                <div class="r-n-block_link">
                    <a href="">
                        <p class="r-nav-text-link">Мини-техника</p>
                    </a>
                    <a href="">
                        <p class="r-nav-text-link">Почвообработка</p>
                    </a>
                    <a href="">
                        <p class="r-nav-text-link">Посев</p>
                    </a>
                    <a href="">
                        <p class="r-nav-text-link">Внесения удобрений</p>
                    </a>
                    <a href="">
                        <p class="r-nav-text-link">Защита растений</p>
                    </a>
                    <a href="">
                        <p class="r-nav-text-link">Возделывание картофеля и других овощных культур</p>
                    </a>
                </div>
            </li>
            <li class="r-nav">
                <a href="../about-us"><p class="r-nav-title-text">О КОМПАНИИ</p></a>
            </li>
            <li class="r-nav">
                <a href="../contact/index.html"><p class="r-nav-title-text">КОНТАКТЫ</p></a>
            </li>
        </ul>
        <ul class="r-nav-menu_tablet">
            <li>
                <a href="">
                    <p class="r-nav-text-link">Тракторы</p>
                </a>
            </li>
            <li>
                <a href="">
                    <p class="r-nav-text-link">Мини-техника</p>
                </a>
            </li>
            <li>
                <a href="">
                    <p class="r-nav-text-link">Почвообработка</p>
                </a>
            </li>
            <li>
                <a href="">
                    <p class="r-nav-text-link">Посев</p>
                </a>
            </li>
            <li>
                <a href="">
                    <p class="r-nav-text-link">Внесения удобрений</p>
                </a>
            </li>
            <li>
                <a href="">
                    <p class="r-nav-text-link">Защита растений</p>
                </a>
            </li>
            <li>
                <a href="">
                    <p class="r-nav-text-link">Возделывание картофеля и других овощных культур</p>
                </a>
            </li>
            <li>
                <a href="">
                    <p class="r-nav-text-link">Кормозаготовка</p>
                </a>
            </li>
            <li>
                <a href="">
                    <p class="r-nav-text-link">Кормоуборочные комбайны</p>
                </a>
            </li>
        </ul>
    </div>
</header>