<div class="background">
    <div class="block-main">
        <div class="container">
            <div class="title-block">
                <h1 class="title-text">
                    Надежная техника от<br> <span>белорусского</span> производителя
                </h1>
                <p class="d-text">по самым <span>низким ценам</span> с доставкой</p>
                <div class="catalog_block">
                    <a href="" class="catalog-btn-link"><button class="catalog-btn">Перейти в каталог</button></a>
                </div>
            </div>
        </div>
    </div>
    <img src="/images/Group 1.png" alt="" class="bg-detail-img">
    <div class="partner-banner"></div>
</div>
<div class="patner-main-item">
    <div class="container">
        <h2 class="title-p">Наши партнеры</h2>
    </div>
    <div class="partner_swiper">
        <div class="swiper-wrapper">
            {{#each parts}}
              <div class="swiper-slide">
                <div class="icon-p-card">
                  <img src="{{this}}" alt="" class="icon-item-p">
                </div>
              </div>
            {{/each}}
        </div>
    </div>
</div>
<div class="container">
    <div class="special-conditions-area">
        <div class="s-c-title-block">
            <h2 class="s-c-title">Специальные условия</h2>
            <p class="s-c-des">при покупке технике</p>
        </div>
        <div class="s-c-card-b">
            <div class="s-c-card mar-30">
                <div class="s-c-card-content">
                    <h4 class="s-c-card-title">Гарантия лучшей цены!</h4>
                    <p class="s-c-card-des">Мы являемся первым поставщиком техники и запчастей напрямую с завода </p>
                </div>
                <div class="s-c-card-img">
                    <img src="/images/i-1.png" alt="" class="s-c-card-img_item">
                </div>
            </div>
            <div class="s-c-card">
                <div class="s-c-card-content">
                    <h4 class="s-c-card-title">Финансовая безопасность</h4>
                    <p class="s-c-card-des">Для каждого клиента у нас индивидуальный подход и особые финансовые условия</p>
                </div>
                <div class="s-c-card-img">
                    <img src="/images/i-2.png" alt="" class="s-c-card-img_item">
                </div>
            </div>
        </div>
        <div class="s-c-card-b">
            <div class="s-c-card mar-30">
                <div class="s-c-card-content">
                    <h4 class="s-c-card-title">Организуем доставку</h4>
                    <p class="s-c-card-des">Доставим ваш заказ до порога в любую точку Мира</p>
                </div>
                <div class="s-c-card-img">
                    <img src="/images/i-3.png" alt="" class="s-c-card-img_item">
                </div>
            </div>
            <div class="s-c-card">
                <div class="s-c-card-content">
                    <h4 class="s-c-card-title">Сервисное обслуживание</h4>
                    <p class="s-c-card-des">Независимо от вашего местоположение обслуживаем мы обслуживаем технику по необходимости </p>
                </div>
                <div class="s-c-card-img">
                    <img src="/images/i-4.png" alt="" class="s-c-card-img_item">
                </div>
            </div>
        </div>
        <div class="s-c-card-b">
            <div class="s-c-card mar-30">
                <div class="s-c-card-content">
                    <h4 class="s-c-card-title">Личный менеджер 24/7</h4>
                    <p class="s-c-card-des">Мы стараемся предоставить лучший сервис  и профессионализм от нашей команды </p>
                </div>
                <div class="s-c-card-img">
                    <img src="/images/i-5.png" alt="" class="s-c-card-img_item">
                </div>
            </div>
            <div class="s-c-card">
                <div class="s-c-card-content">
                    <h4 class="s-c-card-title">Лизинг</h4>
                    <p class="s-c-card-des">В рамках нашей компании мы сможем предложить Вам оптимальное финансовое решение </p>
                </div>
                <div class="s-c-card-img">
                    <img src="/images/i-6.png" alt="" class="s-c-card-img_item">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="about-company-area">
        <h2 class="s-c-title mar-50">Burdo Result Trade</h2>
        <div class="about-company-block">
            <div class="a-c-img">
                <img src="/images/about-company.png" alt="" class="a-c-img_item">
                <div class="activity-block">
                    <h4 class="activity-b-title">20+</h4>
                    <p class="activity-b-des">Поставляем технику в более чем <span>20 стран мира</span></p>
                </div>
            </div>
            <div class="a-c-content">
                <h3 class="a-c-c-title mar-20">ООО “Burdo Result Trade”</h3>
                <p class="a-c-c-des mar-20"><span>Ваш надежный партнер</span> по поставке полного спектра сельхозяйственной техники и оборудования</p>
                <p class="a-c-c-des mar-45 mar-def-m">Одним из преимуществ, что делает нас  уникальными - это белорусские бренды, которые мы представляем. Они мощные и современные. Это те, на кого мир смотрит каждый день</p>
                <div class="a-c-c-map-img_block">
                    <div class="a-c-c-map-img">
                        <img src="/images/map.svg" alt="" class="a-c-c-map-item">
                        <div class="town_block">
                            <div class="border">
                                <div class="town_name">Ташкент</div>
                            </div>
                            <div class="town_dot"></div>
                        </div>
                        <div class="town_block position_1">
                            <div class="border">
                                <div class="town_name">Фергана</div>
                            </div>
                            <div class="town_dot"></div>
                        </div>
                        <div class="town_block position_2">
                            <div class="border">
                                <div class="town_name">Джиззак</div>
                            </div>
                            <div class="town_dot"></div>
                        </div>
                        <div class="town_block position_3">
                            <div class="border">
                                <div class="town_name">Навои</div>
                            </div>
                            <div class="town_dot"></div>
                        </div>
                        <div class="town_block position_4">
                            <div class="border">
                                <div class="town_name">Карши</div>
                            </div>
                            <div class="town_dot"></div>
                        </div>
                        <div class="town_block position_5">
                            <div class="border">
                                <div class="town_name">Бухара</div>
                            </div>
                            <div class="town_dot"></div>
                        </div>
                        <div class="town_block position_6">
                            <div class="border">
                                <div class="town_name">Нукус</div>
                            </div>
                            <div class="town_dot"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{#if cats.length}}
  <div class="container">
    <div class="file-for-area">
      <h2 class="s-c-title mar-50">Мы поставляем</h2>
      <div class="f-f-block-card">
        {{#each cats}}
          <a href="/catalog_tractors_models/{{id}}">
            <div class="f-f-card ">
              <div class="f-f-card-img">
                <img src="{{src}}" alt="" class="f-f-img">
              </div>
              <div class="bg-f-f-card "><p class="f-f-text">{{name}}</p></div>
            </div>
          </a>
        {{/each}}
      </div>
    </div>
  </div>
{{/if}}
<div class="container">
    <div class="just-schema">
        <div class="schema-title-text_block">
            <h2 class="s-c-title schema-title-just">Предоставим простую схему выбора и покупки техники</h2>
        </div>
        <div class="schema-block desktop">
            <div class="schema-card">
                <div class="schema-img">
                    <img src="/images/Circle%201.png" alt="" class="schema-img-item">
                </div>
                <div class="schema-content">
                    <p class="schema-title-text">Заявка</p>
                    <p class="schema-des-text">Вы оставляете заявку по телефону</p>
                    <a href="tel:+998999999999" class="schema-link">+998 (99) 999-99-99</a>
                    <a href="tel:+998999999999" class="schema-link mar-b-6">+998 (99) 999-99-99</a>
                    <a href="" class="schema-link link_site">или через сайт</a>
                </div>
            </div>
            <div class="schema-card">
                <div class="schema-img">
                    <img src="/images/Circle%202.png" alt="" class="schema-img-item">
                </div>
                <div class="schema-content">
                    <p class="schema-title-text">Подбор техники</p>
                    <p class="schema-des-text"><span>Выясняем</span> у Вас цели на приобретения техники</p>
                    <p class="schema-des-text"><span>Предлагаем</span> варианты:</p>
                    <p class="schema-des-text"><span>Рекомендуем</span> оптимальные варианты техники</p>
                </div>
            </div>
            <div class="schema-card">
                <div class="schema-img">
                    <img src="/images/Circle%203.png" alt="" class="schema-img-item">
                </div>
                <div class="schema-content">
                    <p class="schema-title-text">Согласование</p>
                    <p class="schema-des-text"><span>Согласовываем</span> цену и условия контракта</p>
                    <ul class="schema-content-text">
                        <li class="schema-des-text mar-def">доставка</li>
                        <li class="schema-des-text mar-def">сроки доставки</li>
                        <li class="schema-des-text mar-def">оплата</li>
                        <li class="schema-des-text mar-def">сроки оплаты</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="schema-block desktop mar-20_m">
            <div class="schema-card">
                <div class="schema-img">
                    <img src="/images/Circle%204.png" alt="" class="schema-img-item">
                </div>
                <div class="schema-content_ls">
                    <p class="schema-title-text">Заключение контракта</p>
                    <p class="schema-des-text">Получаем Ваши реквизиты, заключаем и подписываем контракт</p>
                </div>
            </div>
            <div class="schema-card">
                <div class="schema-img">
                    <img src="/images/Circle%205.png" alt="" class="schema-img-item">
                </div>
                <div class="schema-content_ls">
                    <p class="schema-title-text">Предоплата</p>
                    <p class="schema-des-text mar-top-20">Вы вносите предоплату. Оплачивайте доставку со склада до Вашего города</p>
                </div>
            </div>
            <div class="schema-card">
                <div class="schema-img">
                    <img src="/images/Circle%206.png" alt="" class="schema-img-item s-img-fix">
                </div>
                <div class="schema-content">
                    <p class="schema-title-text">Готовность к отгрузке</p>
                    <p class="schema-des-text mar-top-20">Сообщение о готовности товара к отгрузке и согласование отгрузки, оформление товара на таможне</p>
                </div>
            </div>
        </div>
        <div class="schema-block tablet">
            <div class="schema-card">
                <div class="schema-img">
                    <img src="/images/Circle%201.png" alt="" class="schema-img-item">
                </div>
                <div class="schema-content">
                    <p class="schema-title-text">Заявка</p>
                    <p class="schema-des-text">Вы оставляете заявку по телефону</p>
                    <a href="tel:+998999999999" class="schema-link">+998 (99) 999-99-99</a>
                    <a href="tel:+998999999999" class="schema-link mar-b-6">+998 (99) 999-99-99</a>
                    <a href="" class="schema-link link_site">или через сайт</a>
                </div>
            </div>
            <div class="schema-card">
                <div class="schema-img">
                    <img src="/images/Circle%202.png" alt="" class="schema-img-item">
                </div>
                <div class="schema-content">
                    <p class="schema-title-text">Подбор техники</p>
                    <p class="schema-des-text"><span>Выясняем</span> у Вас цели на приобретения техники</p>
                    <p class="schema-des-text"><span>Предлагаем</span> варианты:</p>
                    <p class="schema-des-text"><span>Рекомендуем</span> оптимальные варианты техники</p>
                </div>
            </div>
        </div>
        <div class="schema-block tablet">
            <div class="schema-card">
                <div class="schema-img">
                    <img src="/images/Circle%203.png" alt="" class="schema-img-item">
                </div>
                <div class="schema-content">
                    <p class="schema-title-text">Согласование</p>
                    <p class="schema-des-text"><span>Согласовываем</span> цену и условия контракта</p>
                    <ul class="schema-content-text">
                        <li class="schema-des-text mar-def">доставка</li>
                        <li class="schema-des-text mar-def">сроки доставки</li>
                        <li class="schema-des-text mar-def">оплата</li>
                        <li class="schema-des-text mar-def">сроки оплаты</li>
                    </ul>
                </div>
            </div>
            <div class="schema-card">
                <div class="schema-img">
                    <img src="/images/Circle%204.png" alt="" class="schema-img-item">
                </div>
                <div class="schema-content_ls">
                    <p class="schema-title-text">Заключение контракта</p>
                    <p class="schema-des-text">Получаем Ваши реквизиты, заключаем и подписываем контракт</p>
                </div>
            </div>
        </div>
        <div class="schema-block tablet mar-20_m">
            <div class="schema-card">
                <div class="schema-img">
                    <img src="/images/Circle%205.png" alt="" class="schema-img-item">
                </div>
                <div class="schema-content_ls">
                    <p class="schema-title-text">Предоплата</p>
                    <p class="schema-des-text mar-top-20">Вы вносите предоплату. Оплачивайте доставку со склада до Вашего города</p>
                </div>
            </div>
            <div class="schema-card">
                <div class="schema-img">
                    <img src="/images/Circle%206.png" alt="" class="schema-img-item s-img-fix">
                </div>
                <div class="schema-content">
                    <p class="schema-title-text w-60">Готовность к отгрузке</p>
                    <p class="schema-des-text mar-top-20">Сообщение о готовности товара к отгрузке и согласование отгрузки, оформление товара на таможне</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="popular-model-area">
        <h2 class="s-c-title">Популярные модели</h2>
        <div class="p-m-block">
            <div class="p-m-card mar-30">
                <div class="p-m-card-img">
                    <img src="/images/popular-model.png" alt="" class="p-m-card-img-item">
                </div>
                <div class="p-m-card-content">
                    <h4 class="p-m-title">Беларус МТЗ-1221.1</h4>
                    <p class="p-m-des"><span>Мощность -</span> 36 лс</p>
                    <p class="p-m-des"><span>Двигатель -</span> Д260.2S2, 6 цилиндров с турбонадувом</p>
                    <p class="p-m-des"><span>Коробка передач -</span> Синхронизированная</p>
                    <a href="/property_tractors" class="mar-t-20">
                        <button class="p-m-btn">Подробнее</button>
                    </a>
                </div>
            </div>
            <div class="p-m-card">
                <div class="p-m-card-img">
                    <img src="/images/popular-model.png" alt="" class="p-m-card-img-item">
                </div>
                <div class="p-m-card-content">
                    <h4 class="p-m-title">Беларус МТЗ-1221.1</h4>
                    <p class="p-m-des"><span>Мощность -</span> 36 лс</p>
                    <p class="p-m-des"><span>Двигатель -</span> Д260.2S2, 6 цилиндров с турбонадувом</p>
                    <p class="p-m-des"><span>Коробка передач -</span> Синхронизированная</p>
                    <a href="/property_tractors" class="mar-t-20">
                        <button class="p-m-btn">Подробнее</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="p-m-block mar-top-30">
            <div class="p-m-card mar-30">
                <div class="p-m-card-img">
                    <img src="/images/popular-model.png" alt="" class="p-m-card-img-item">
                </div>
                <div class="p-m-card-content">
                    <h4 class="p-m-title">Беларус МТЗ-1221.1</h4>
                    <p class="p-m-des"><span>Мощность -</span> 36 лс</p>
                    <p class="p-m-des"><span>Двигатель -</span> Д260.2S2, 6 цилиндров с турбонадувом</p>
                    <p class="p-m-des"><span>Коробка передач -</span> Синхронизированная</p>
                    <a href="/property_tractors" class="mar-t-20">
                        <button class="p-m-btn">Подробнее</button>
                    </a>
                </div>
            </div>
            <div class="p-m-card">
                <div class="p-m-card-img">
                    <img src="/images/popular-model.png" alt="" class="p-m-card-img-item">
                </div>
                <div class="p-m-card-content">
                    <h4 class="p-m-title">Беларус МТЗ-1221.1</h4>
                    <p class="p-m-des"><span>Мощность -</span> 36 лс</p>
                    <p class="p-m-des"><span>Двигатель -</span> Д260.2S2, 6 цилиндров с турбонадувом</p>
                    <p class="p-m-des"><span>Коробка передач -</span> Синхронизированная</p>
                    <a href="/property_tractors" class="mar-t-20">
                        <button class="p-m-btn">Подробнее</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Footer-->
