<div class="container">
    <div class="link-title-pages">
        <a href="/"><p>Главная / </p></a>
        <a href="/about_us"><p>О Компании  </p></a>
    </div>
    <div class="about-us-area">
        <div class="about-us-img-block">
            <img src="/images/team-img.png" alt="" class="about-us-team">
            <div class="a-u-img-item-block">
                <img src="/images/team-img02.png" alt="" class="about-us-team-mini">
                <img src="/images/team-img03.png" alt="" class="about-us-team-mini">
                <img src="/images/team-img04.png" salt="" class="about-us-team-mini">
            </div>
        </div>
        <div class="about-us-img-content-block">
            <h1 class="a-u-title">Burdo Trade Result</h1>
            <p class="a-u-des"><span>Ваш надежный партнер</span> по поставке полного спектра сельхозяйственной техники и оборудования</p>
            <p class="a-u-des">Одним из преимуществ, что делает нас  уникальными - это белорусские бренды, которые мы представляем. Они мощные и современные. Это те, на кого мир смотрит каждый день</p>
            <p class="a-u-des ">Широкий асортимент поставляемой продукции для обеспечение полного цикла технологических мероприятий возделывания почты, внесения минеральных и органических удобрений, защиты растений, выращивания и сбора урожая, техника для кормозаготовки, а также машины для животновоства.</p>
            <p class="a-u-des des_mobi_a-u">Совместная работа с банками позволяет предложить финансовые программы, которые дают возможность приобрести, технику, навесное и прицепное оборудование, запчасти на самых выгодных условиях</p>
        </div>
    </div>
    <p class="a-u-des tablet_text_a-u">Совместная работа с банками позволяет предложить финансовые программы, которые дают возможность приобрести, технику, навесное и прицепное оборудование, запчасти на самых выгодных условиях</p>
    <div class="activity-area">
        <div class="a-r-num-text-b mar-r-80">
            <h3 class="a-num-t">4+</h3>
            <p class="a-num-d">Годы на рынке</p>
        </div>
        <div class="a-r-num-text-b mar-r-80">
            <h3 class="a-num-t">22</h3>
            <p class="a-num-d">Страны продали на рынке</p>
        </div>
        <div class="a-r-num-text-b mar-r-80">
            <h3 class="a-num-t">782</h3>
            <p class="a-num-d">Единиц продано за все время</p>
        </div>
        <div class="a-r-num-text-b">
            <h3 class="a-num-t">70</h3>
            <p class="a-num-d f-w-80">Общий стаж сотрудников отдела продаж</p>
        </div>
    </div>
    <div class="container">
        <div class="special-conditions-area">
            <div class="s-c-title-block">
                <h2 class="s-c-title">Специальные условия</h2>
                <p class="s-c-des">при покупке технике</p>
            </div>
            <div class="s-c-card-b">
                <div class="s-c-card mar-30">
                    <div class="s-c-card-content">
                        <h4 class="s-c-card-title">Гарантия лучшей цены!</h4>
                        <p class="s-c-card-des">Мы являемся первым поставщиком техники и запчастей напрямую с завода </p>
                    </div>
                    <div class="s-c-card-img">
                        <img src="/images/i-1.png" alt="" class="s-c-card-img_item">
                    </div>
                </div>
                <div class="s-c-card">
                    <div class="s-c-card-content">
                        <h4 class="s-c-card-title">Финансовая безопасность</h4>
                        <p class="s-c-card-des">Для каждого клиента у нас индивидуальный подход и особые финансовые условия</p>
                    </div>
                    <div class="s-c-card-img">
                        <img src="/images/i-2.png" alt="" class="s-c-card-img_item">
                    </div>
                </div>
            </div>
            <div class="s-c-card-b">
                <div class="s-c-card mar-30">
                    <div class="s-c-card-content">
                        <h4 class="s-c-card-title">Организуем доставку</h4>
                        <p class="s-c-card-des">Доставим ваш заказ до порога в любую точку Мира</p>
                    </div>
                    <div class="s-c-card-img">
                        <img src="/images/i-3.png" alt="" class="s-c-card-img_item">
                    </div>
                </div>
                <div class="s-c-card">
                    <div class="s-c-card-content">
                        <h4 class="s-c-card-title">Сервисное обслуживание</h4>
                        <p class="s-c-card-des">Независимо от вашего местоположение обслуживаем мы обслуживаем технику по необходимости </p>
                    </div>
                    <div class="s-c-card-img">
                        <img src="/images/i-4.png" alt="" class="s-c-card-img_item">
                    </div>
                </div>
            </div>
            <div class="s-c-card-b">
                <div class="s-c-card mar-30">
                    <div class="s-c-card-content">
                        <h4 class="s-c-card-title">Личный менеджер 24/7</h4>
                        <p class="s-c-card-des">Мы стараемся предоставить лучший сервис  и профессионализм от нашей команды </p>
                    </div>
                    <div class="s-c-card-img">
                        <img src="/images/i-5.png" alt="" class="s-c-card-img_item">
                    </div>
                </div>
                <div class="s-c-card">
                    <div class="s-c-card-content">
                        <h4 class="s-c-card-title">Лизинг</h4>
                        <p class="s-c-card-des">В рамках нашей компании мы сможем предложить Вам оптимальное финансовое решение </p>
                    </div>
                    <div class="s-c-card-img">
                        <img src="/images/i-6.png" alt="" class="s-c-card-img_item">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="certificate-area">
        <div class="certificate-slider">
            <div class="swiper-wrapper">
                <div id="1" class="cer-block swiper-slide">
                    <img src="/images/bosh-tr-ts%201.png" alt="" class="cer-01-img">
                </div>
                <div id="2" class="cer-block swiper-slide">
                    <img src="/images/bosh-tr-ts%201.png" alt="" class="cer-01-img">
                </div>
                <div id="3" class="cer-block swiper-slide">
                    <img src="/images/bosh-tr-ts%201.png" alt="" class="cer-01-img">
                </div>
                <div id="4" class="cer-block swiper-slide">
                    <img src="/images/bosh-tr-ts%201.png" alt="" class="cer-01-img">
                </div>
            </div>
            <button class=" nav-btn  left-btn-n ">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="nav-icon-slider">
                    <path d="
                        M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3
                        0s12.5-32.8 0-45.3L77.3 256 214.6 118.6c12.5-12.5 12.5-32.8
                        0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>
            </button>
            <button class=" nav-btn  right-btn-n">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="nav-icon-slider">
                    <path d="
                        M246.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8
                        12.5-45.3 0s-12.5-32.8 0-45.3L178.7 256 41.4 118.6c-12.5-12.5-12.5-32.8
                        0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>
            </button>
            <div id="dots-container" class="s-dot-block"></div>
        </div>
    </div>
</div>