<div class="container">
    <div class="link-title-pages">
        <a href="/"><p>Главная / </p></a>
        <a href="/catalog_tractors_models"><p>Каталог техники </p></a>
    </div>
    <div class="catalog-area">
        <h2 class="s-c-title mar-30">Тракторы</h2>
        <div class="p-m-block">
            <div class="p-m-card mar-30">
                <div class="p-m-card-img">
                    <img src="/images/popular-model.png" alt="" class="p-m-card-img-item">
                </div>
                <div class="p-m-card-content">
                    <h4 class="p-m-title mar-15">Беларус МТЗ-1221.1</h4>
                    <p class="p-m-des"><span>Мощность -</span> 36 лс</p>
                    <p class="p-m-des"><span>Двигатель -</span> Д260.2S2, 6 цилиндров с турбонадувом</p>
                    <p class="p-m-des"><span>Коробка передач -</span> Синхронизированная</p>
                    <a href="/property_tractors">
                        <button class="p-m-btn">Подробнее</button>
                    </a>
                </div>
            </div>
            <div class="p-m-card">
                <div class="p-m-card-img">
                    <img src="/images/popular-model.png" alt="" class="p-m-card-img-item">
                </div>
                <div class="p-m-card-content">
                    <h4 class="p-m-title mar-15">Беларус МТЗ-1221.1</h4>
                    <p class="p-m-des"><span>Мощность -</span> 36 лс</p>
                    <p class="p-m-des"><span>Двигатель -</span> Д260.2S2, 6 цилиндров с турбонадувом</p>
                    <p class="p-m-des"><span>Коробка передач -</span> Синхронизированная</p>
                    <a href="/property_tractors">
                        <button class="p-m-btn">Подробнее</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="p-m-block mar-top-30">
            <div class="p-m-card mar-30">
                <div class="p-m-card-img">
                    <img src="/images/popular-model.png" alt="" class="p-m-card-img-item">
                </div>
                <div class="p-m-card-content">
                    <h4 class="p-m-title mar-15">Беларус МТЗ-1221.1</h4>
                    <p class="p-m-des"><span>Мощность -</span> 36 лс</p>
                    <p class="p-m-des"><span>Двигатель -</span> Д260.2S2, 6 цилиндров с турбонадувом</p>
                    <p class="p-m-des"><span>Коробка передач -</span> Синхронизированная</p>
                    <a href="/property_tractors">
                        <button class="p-m-btn">Подробнее</button>
                    </a>
                </div>
            </div>
            <div class="p-m-card">
                <div class="p-m-card-img">
                    <img src="/images/popular-model.png" alt="" class="p-m-card-img-item">
                </div>
                <div class="p-m-card-content">
                    <h4 class="p-m-title mar-15">Беларус МТЗ-1221.1</h4>
                    <p class="p-m-des"><span>Мощность -</span> 36 лс</p>
                    <p class="p-m-des"><span>Двигатель -</span> Д260.2S2, 6 цилиндров с турбонадувом</p>
                    <p class="p-m-des"><span>Коробка передач -</span> Синхронизированная</p>
                    <a href="/property_tractors">
                        <button class="p-m-btn">Подробнее</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="p-m-block">
            <div class="p-m-card mar-30">
                <div class="p-m-card-img">
                    <img src="/images/popular-model.png" alt="" class="p-m-card-img-item">
                </div>
                <div class="p-m-card-content">
                    <h4 class="p-m-title mar-15">Беларус МТЗ-1221.1</h4>
                    <p class="p-m-des"><span>Мощность -</span> 36 лс</p>
                    <p class="p-m-des"><span>Двигатель -</span> Д260.2S2, 6 цилиндров с турбонадувом</p>
                    <p class="p-m-des"><span>Коробка передач -</span> Синхронизированная</p>
                    <a href="/property_tractors">
                        <button class="p-m-btn">Подробнее</button>
                    </a>
                </div>
            </div>
            <div class="p-m-card">
                <div class="p-m-card-img">
                    <img src="/images/popular-model.png" alt="" class="p-m-card-img-item">
                </div>
                <div class="p-m-card-content">
                    <h4 class="p-m-title mar-15">Беларус МТЗ-1221.1</h4>
                    <p class="p-m-des"><span>Мощность -</span> 36 лс</p>
                    <p class="p-m-des"><span>Двигатель -</span> Д260.2S2, 6 цилиндров с турбонадувом</p>
                    <p class="p-m-des"><span>Коробка передач -</span> Синхронизированная</p>
                    <a href="/property_tractors">
                        <button class="p-m-btn">Подробнее</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>