<div class="container">
    <div class="link-title-pages">
        <a href="/"><p>Главная / </p></a>
        <a href="/catalog_spare_parts"><p>Каталог запасных частей </p></a>
    </div>
    <div class="catalog-area">
        <div class="catalog_title_block">
            <h2 class="s-c-title mar-30">Сиденье</h2>
            <div class="search-input-block">
                <input type="text" class="search-input" placeholder="Поиск по запчастям">
                <button class="search-btn"><img src="/images/search-normal.png" alt="" class="search-btn_icon"></button>
            </div>
        </div>
        <div class="p-m-block">
            <div class="p-m-card mar-30">
                <div class="p-m-card-img">
                    <img src="/images/sideniye.png" alt="" class="p-m-card-img-item">
                </div>
                <div class="p-m-card-content">
                    <h4 class="p-m-title mar-15">Сиденье для трактора Беларус МТЗ-1221.1</h4>
                    <p class="p-m-des mar-b-50">УНИВЕРСАЛЬНОЕ СИДЕНЬЕ СОВМЕСТНО С РЕГУЛИРОВКОЙ УГЛА НАКЛОНА</p>
                    <a href="/property_parts" class="mar-t-20">
                        <button class="p-m-btn">Подробнее</button>
                    </a>
                </div>
            </div>
            <div class="p-m-card ">
                <div class="p-m-card-img">
                    <img src="/images/sideniye.png" alt="" class="p-m-card-img-item">
                </div>
                <div class="p-m-card-content">
                    <h4 class="p-m-title mar-15">Сиденье для трактора Беларус МТЗ-1221.1</h4>
                    <p class="p-m-des"><span>Материал - </span> Кожа</p>
                    <p class="p-m-des"><span>Нагрузка - </span> 120кг</p>
                    <p class="p-m-des"><span>Особенность - </span> Регулирования угла наклона</p>
                    <a href="/property_parts" class="mar-t-20">
                        <button class="p-m-btn">Подробнее</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="p-m-block mar-top-30">
            <div class="p-m-card mar-30">
                <div class="p-m-card-img">
                    <img src="/images/sideniye.png" alt="" class="p-m-card-img-item">
                </div>
                <div class="p-m-card-content">
                    <h4 class="p-m-title mar-15">Сиденье для трактора Беларус МТЗ-1221.1</h4>
                    <p class="p-m-des mar-b-50">УНИВЕРСАЛЬНОЕ СИДЕНЬЕ СОВМЕСТНО С РЕГУЛИРОВКОЙ УГЛА НАКЛОНА</p>
                    <a href="/property_parts" class="mar-t-20">
                        <button class="p-m-btn">Подробнее</button>
                    </a>
                </div>
            </div>
            <div class="p-m-card ">
                <div class="p-m-card-img">
                    <img src="/images/sideniye.png" alt="" class="p-m-card-img-item">
                </div>
                <div class="p-m-card-content">
                    <h4 class="p-m-title mar-15">Сиденье для трактора Беларус МТЗ-1221.1</h4>
                    <p class="p-m-des"><span>Материал - </span> Кожа</p>
                    <p class="p-m-des"><span>Нагрузка - </span> 120кг</p>
                    <p class="p-m-des"><span>Особенность - </span> Регулирования угла наклона</p>
                    <a href="property_parts" class="mar-t-20">
                        <button class="p-m-btn">Подробнее</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="p-m-block">
            <div class="p-m-card mar-30">
                <div class="p-m-card-img">
                    <img src="/images/sideniye.png" alt="" class="p-m-card-img-item">
                </div>
                <div class="p-m-card-content">
                    <h4 class="p-m-title mar-15">Сиденье для трактора Беларус МТЗ-1221.1</h4>
                    <p class="p-m-des mar-b-50">УНИВЕРСАЛЬНОЕ СИДЕНЬЕ СОВМЕСТНО С РЕГУЛИРОВКОЙ УГЛА НАКЛОНА</p>
                    <a href="property_parts" class="mar-t-20">
                        <button class="p-m-btn">Подробнее</button>
                    </a>
                </div>
            </div>
            <div class="p-m-card ">
                <div class="p-m-card-img">
                    <img src="/images/sideniye.png" alt="" class="p-m-card-img-item">
                </div>
                <div class="p-m-card-content">
                    <h4 class="p-m-title mar-15">Сиденье для трактора Беларус МТЗ-1221.1</h4>
                    <p class="p-m-des"><span>Материал - </span> Кожа</p>
                    <p class="p-m-des"><span>Нагрузка - </span> 120кг</p>
                    <p class="p-m-des"><span>Особенность - </span> Регулирования угла наклона</p>
                    <a href="/property_parts" class="mar-t-20">
                        <button class="p-m-btn">Подробнее</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>