<div class="container">
    <div class="link-title-pages">
        <a href="/"><p>Главная / </p></a>
        <a href="/catalog_tractors_models"><p>Каталог техники / </p></a>
        <a href=""><p>Тракторы / </p></a>
        <a href=""><p>Беларус МТЗ-1221</p></a>
    </div>
    <div class="property-area">
        <div class="p-fst-block">
            <div class="p-img-block">
                <img src="/images/tractorRed.png" alt="" class="p-img-item">
                <div class="p-img-set-t">
                    <img src="/images/tractorRed1.png" alt="" class="p-img-item-mini">
                    <img src="/images/tractorRed1.png" alt="" class="p-img-item-mini">
                    <img src="/images/tractorRed1.png" alt="" class="p-img-item-mini">
                </div>
            </div>
            <div class="p-content-block">
                <h1 class="p-title mar-b-30">Беларус МТЗ-1221.1</h1>
                <p class="p-des"><span>Мощность -</span> 36 лс</p>
                <p class="p-des"><span>Двигатель - </span> Д260.2S2, 6 цилиндров с турбонадувом</p>
                <p class="p-des"><span>Коробка передач - </span> Синхронизированная</p>
                <p class="p-des mar-b-30"><span>Число передач - </span> 16/8</p>
                <p class="p-link-property">Все характеристики</p>
                <div class="p-btn-block">
                    <button class="p-btn-more-info">Узнать стоимость</button>
                </div>
                <div class="p-c-card-block desktop_p-c-card-block">
                    <div class="p-c-card mar-r-20">
                        <h3 class="p-c-card-text"><span>Организуем</span> доставку</h3>
                        <img src="/images/track.png" alt="" class="p-c-card-img">
                    </div>
                    <div class="p-c-card mar-r-20">
                        <h3 class="p-c-card-text"><span>Самая низкая цена</span> на рынке</h3>
                        <img src="/images/sale.png" alt="" class="p-c-card-img">
                    </div>
                    <div class="p-c-card">
                        <h3 class="p-c-card-text"><span>100% Гарантия</span>  возврата денег</h3>
                        <img src="/images/coin.png" alt="" class="p-c-card-img">
                    </div>
                </div>
            </div>
        </div>
        <div class="p-c-card-block tablet_p-c-card-block">
            <div class="p-c-card mar-r-20">
                <h3 class="p-c-card-text"><span>Организуем</span> доставку</h3>
                <img src="/images/track.png" alt="" class="p-c-card-img">
            </div>
            <div class="p-c-card mar-r-20">
                <h3 class="p-c-card-text"><span>Самая низкая цена</span> на рынке</h3>
                <img src="/images/sale.png" alt="" class="p-c-card-img">
            </div>
            <div class="p-c-card">
                <h3 class="p-c-card-text"><span>100% Гарантия</span>  возврата денег</h3>
                <img src="/images/coin.png" alt="" class="p-c-card-img">
            </div>
        </div>
        <div class="p-nav-panel des_tab_btn-p-nav-panel">
            <a href="#1" class="p-nav-btn p-nav-btn-b-radius" >Описание </a>
            <a href="#2" class="p-nav-btn">Характеристики</a>
            <a href="#3"class="p-nav-btn">Комплектация</a>
            <a href="#4"class="p-nav-btn p-nav-btn-b-radius2">Сертификаты</a>
        </div>
        <div class="property-block mar-b-30" id="1">
            <div class="p-nav-panel mob_btn-p-nav-panel">
                <div class="">
                    <button class="p-nav-btn p-nav-btn-b-radius">Описание </button>
                    <button class="p-nav-btn">Характеристики</button>
                </div>
                <div class="">
                    <button class="p-nav-btn">Комплектация</button>
                    <button class="p-nav-btn p-nav-btn-b-radius2">Сертификаты</button>
                </div>
            </div>
            <p class="p-b-des-text">
                Трактор предназзначен для выполнения
                различных работ в сельском хозяйстве в агрегате с навесными,
                полунавесныеми и прицепными машинами, в промышленности и на транспорте.
            </p>
            <p class="p-b-des-text">
                Малые габариты, позволяющие применять трактор в теплицах и небольщих помещениях.
                Экологический стандарт Stage IIIa. Передний ведущий мост.
            </p>
            <h3 class="p-b-title-text">Оссобености:</h3>
            <div class="p-item-block">
                <p class="p-b-des-text mar-b-10 p--before-element ">Низкий расход топлива ( от 1.6л. в час )</p>
                <p class="p-b-des-text mar-b-10 p--before-element">Комфортабельная отапливаемая кабина с регулируемым сиденьем</p>
                <p class="p-b-des-text mar-b-10 p--before-element">Широкий диапазон скоростей</p>
            </div>
        </div>
        <div class="property-block mar-b-30" id="2">
            <ul>
                <li class="p-title">Двигатель</li>
                <li class="p-ul-des">
                    <span class="p-ul-des-text p-text-width">Тип</span>
                    <div class="border_under"></div>
                    <span class="p-ul-des-text p-font-wight p-font-wrap">Дизельный</span>
                </li>
                <li class="p-ul-des">
                    <span class="p-ul-des-text p-text-width">Модель</span>
                    <div class="border_under"></div>
                    <span class="p-ul-des-text p-font-wight p-font_wight_des p-font-wrap">“Lombardini” LDW1603 / B3</span>
                </li>
                <li class="p-ul-des">
                    <span class="p-ul-des-text p-text-width">Мощность двигателя, кВт (л.с)</span>
                    <div class="border_under"></div>
                    <span class="p-ul-des-text p-font-wight p-font-wrap">26 (36)</span>
                </li>
                <li class="p-ul-des">
                    <span class="p-ul-des-text p-text-width">Номинальная частота вращения, об/мин</span>
                    <div class="border_under"></div>
                    <span class="p-ul-des-text p-font-wight p-font-wrap">3000</span>
                </li>
                <li class="p-ul-des">
                    <span class="p-ul-des-text p-text-width">Число цилиндров, шт</span>
                    <div class="border_under"></div>
                    <span class="p-ul-des-text p-font-wight p-font-wrap">3</span>
                </li>
                <li class="p-ul-des">
                    <span class="p-ul-des-text p-text-width">Рабочий объём, л</span>
                    <div class="border_under"></div>
                    <span class="p-ul-des-text p-font-wight p-font-wrap">1,649/1,600</span>
                </li>
                <li class="p-ul-des">
                    <span class="p-ul-des-text p-text-width">Макс крутящий момент, Н*м</span>
                    <div class="border_under"></div>
                    <span class="p-ul-des-text p-font-wight p-font-wrap">92/94</span>
                </li>
                <li class="p-ul-des">
                    <span class="p-ul-des-text p-text-width">Коэффициент запаса крутящего момента, %</span>
                    <div class="border_under"></div>
                    <span class="p-ul-des-text p-font-wight p-font-wrap">12/20</span>
                </li>
                <li class="p-ul-des">
                    <span class="p-ul-des-text p-text-width">Ёмкость топливного бака, л</span>
                    <div class="border_under"></div>
                    <span class="p-ul-des-text p-font-wight p-font-wrap">32</span>
                </li>
                <li class="p-title mar-top-30">Трансмиссия</li>
                <li class="p-ul-des">
                    <span class="p-ul-des-text p-text-width">Муфта сцепления</span>
                    <div class="border_under"></div>
                    <span class="p-ul-des-text p-font-wight p-font-wrap p-font_wight_des">Фрикционная, постоянно замкнутая</span>
                </li>
                <li class="p-ul-des">
                    <span class="p-ul-des-text p-text-width">Коробка передач</span>
                    <div class="border_under"></div>
                    <span class="p-ul-des-text p-font-wight p-font-wrap p-font_wight_des">Механическая, двухдиапозонная  с понимажющим редуктором</span>
                </li>
                <li class="p-ul-des">
                    <span class="p-ul-des-text p-text-width">Число передач: вперед/назад </span>
                    <div class="border_under"></div>
                    <span class="p-ul-des-text p-font-wight p-font-wrap">16/8</span>
                </li>
                <li class="p-ul-des">
                    <span class="p-ul-des-text p-text-width">Скорость передвижения: вперед/назад</span>
                    <div class="border_under"></div>
                    <span class="p-ul-des-text p-font-wight p-font-wrap p-font_wight_des">1.0-25.2/1.8-13.3</span>
                </li>
                <li class="p-ul-des">
                    <span class="p-ul-des-text p-text-width">Задний ВОМ: независимый |, об/мин</span>
                    <div class="border_under"></div>
                    <span class="p-ul-des-text p-font-wight p-font-wrap">540</span>
                </li>
                <li class="p-ul-des">
                    <span class="p-ul-des-text p-text-width">Задний ВОМ: независимый ||, об/мин</span>
                    <div class="border_under"></div>
                    <span class="p-ul-des-text p-font-wight p-font-wrap" >1000</span>
                </li>
                <li class="p-ul-des">
                    <span class="p-ul-des-text p-text-width">Задний ВОМ: синхронный |, об/мин</span>
                    <div class="border_under"></div>
                    <span class="p-ul-des-text p-font-wight p-font-wrap">3.4</span>
                </li>
                <li class="p-ul-des">
                    <span class="p-ul-des-text p-text-width">Задний ВОМ: синхронный ||, об/мин</span>
                    <div class="border_under"></div>
                    <span class="p-ul-des-text p-font-wight p-font-wrap">6.3</span>
                </li>
                <li class="p-ul-des">
                    <span class="p-ul-des-text p-text-width">Главяная передача</span>
                    <div class="border_under"></div>
                    <span class="p-ul-des-text p-font-wight p-font-wrap p-font_wight_des">Конические шестерни со спиральными зубьями</span>
                </li>
            </ul>
        </div>
        <div class="property-block mar-b-30" id="3">
            <ul>
                <li class="p-title">Стандартная комплектация</li>
                <li class="p-ul-des">
                    <span class="p-ul-des-text p-font-wight">Задний ВОМ (2-х скоростной, синхронный, 8/21 или 6/21 шлицов)</span>
                    <div class="border_under mar_line"></div>
                </li>
                <li class="p-ul-des">
                    <span class="p-ul-des-text p-font-wight">Заднее навесное устройстро (3-х точное, 2 гидроцилиндра, фиксируюшие цепи)</span>
                    <div class="border_under mar_line"></div>
                </li>
                <li class="p-ul-des">
                    <span class="p-ul-des-text p-font-wight">Гидровывода (2 на задней стороне, 2спереди)</span>
                    <div class="border_under mar_line"></div>
                </li>
                <li class="p-ul-des">
                    <span class="p-ul-des-text p-font-wight">Трехсекционный гидрораспределитель:</span>
                    <div class="border_under mar_line"></div>
                </li>
                <li class="p-ul-des">
                    <span class="p-ul-des-text p-font-wight">Розетка (на задней стороне)</span>
                    <div class="border_under mar_line"></div>
                </li>
                <li class="p-ul-des">
                    <span class="p-ul-des-text p-font-wight">Переднее и заднее рабочее освещение (2 сзади 2 спереди)</span>
                    <div class="border_under mar_line"></div>
                </li>
                <li class="p-ul-des">
                    <span class="p-ul-des-text p-font-wight">Поворотные лампы (4)</span>
                    <div class="border_under mar_line"></div>
                </li>
                <li class="p-ul-des">
                    <span class="p-ul-des-text p-font-wight">Лампы аварийного освещения</span>
                    <div class="border_under mar_line"></div>
                </li>
                <li class="p-ul-des">
                    <span class="p-ul-des-text p-font-wight">Поцветка номерного знака</span>
                    <div class="border_under mar_line"></div>
                </li>
            </ul>
        </div>
        <div class="property-block" id="4">
            <div class="certificate-area reset-mar">
                <div class="certificate-slider certificate-slider">
                    <div class="swiper-wrapper">
                        <div id="1" class="cer-block swiper-slide">
                            <img src="/images/bosh-tr-ts%201.png" alt="" class="cer-01-img">
                        </div>
                        <div id="2" class="cer-block swiper-slide">
                            <img src="/images/bosh-tr-ts%201.png" alt="" class="cer-01-img">
                        </div>
                        <div id="3" class="cer-block swiper-slide">
                            <img src="/images/bosh-tr-ts%201.png" alt="" class="cer-01-img">
                        </div>
                        <div id="4" class="cer-block swiper-slide">
                            <img src="/images/bosh-tr-ts%201.png" alt="" class="cer-01-img">
                        </div>
                    </div>
                    <button class=" nav-btn  left-btn-n ">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="nav-icon-slider">
                            <path d="
                        M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3
                        0s12.5-32.8 0-45.3L77.3 256 214.6 118.6c12.5-12.5 12.5-32.8
                        0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>
                    </button>
                    <button class=" nav-btn  right-btn-n">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="nav-icon-slider">
                            <path d="
                        M246.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8
                        12.5-45.3 0s-12.5-32.8 0-45.3L178.7 256 41.4 118.6c-12.5-12.5-12.5-32.8
                        0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>
                    </button>
                    <div id="dots-container" class=" s-dot-block"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal_container">
    <div class="modal_block">
        <h1 class="modal_text_title">Оставьте заявку </h1>
        <p class="modal_text">Заполните пожалуйста форму и наши специлисты свяжутся с Вами чтобы сообщить стоимосить</p>
        <div class="modal_form_block">
            <input type="text" class="modal_form_input" placeholder="Ваше имя">
            <input type="text" class="modal_form_input" placeholder="Ваш номер телефон">
            <input type="text" class="modal_form_input" placeholder="Ваш E-mail">
            <buttonc class="modal_btn">Отправить</buttonc>
        </div>
        <p class="modal_text_p">Нажимая отправить вы соглашаетесь с условиями обработки персональных данных</p>
    </div>
</div>
