<div class="container">
    <div class="link-title-pages">
        <a href="../main-page/index.html"></a>
        <p>Каталог запасных частей / </p>
        <p>Кузов /  </p>
        <p>Сиденье для трактора Беларус МТЗ-1221.1</p>
    </div>
    <div class="property-area">
        <div class="p-fst-block">
            <div class="p-img-block">
                <img src="/images/seat.png" alt="" class="p-img-item">
            </div>
            <div class="p-content-block">
                <h1 class="p-title mar-b-30">Сиденье для трактора Беларус МТЗ-1221.1</h1>
                <p class="p-des"><span>Материал - </span> Кожа</p>
                <p class="p-des"><span>Нагрузка - </span> 120кг</p>
                <p class="p-des"><span>Особенность - </span>  Регулирования угла наклона</p>
                <p class="p-des mar-b-30"><span>Вес - </span> 16.5</p>
                <button class="p-btn-more-info">Узнать стоимость</button>
                <div class="p-c-card-block desktop_p-c-card-block">
                    <div class="p-c-card mar-r-20">
                        <h3 class="p-c-card-text"><span>Организуем</span> доставку</h3>
                        <img src="/images/track.png" alt="" class="p-c-card-img">
                    </div>
                    <div class="p-c-card mar-r-20">
                        <h3 class="p-c-card-text"><span>Самая низкая цена</span> на рынке</h3>
                        <img src="/images/sale.png" alt="" class="p-c-card-img">
                    </div>
                    <div class="p-c-card">
                        <h3 class="p-c-card-text"><span>100% Гарантия</span>  возврата денег</h3>
                        <img src="/images/coin.png" alt="" class="p-c-card-img">
                    </div>
                </div>
            </div>
        </div>
        <div class="p-nav-panel">
            <button class="p-nav-btn p-nav-btn-b-radius">Описание </button>
            <button class="p-nav-btn">Характеристики</button>
            <button class="p-nav-btn p-nav-btn-b-radius2">Сертификаты</button>
        </div>
        <div class="property-block mar-b-30">
            <div class="">
                <p class="p-b-des-t-title">УНИВЕРСАЛЬНОЕ СИДЕНЬЕ СОВМЕСТНО С РЕГУЛИРОВКОЙ УГЛА НАКЛОНА</p>
                <br>Маркировка: Сиденье ECO 111
                <br>Сиденье тракторное универсальное для МТЗ,Т-25,Т-40, а также для погрузчиков автогрейдеров и мотоблоков.
                <br>Изготовлен из прочного материала. Сиденье оснащено амортизацией.
                <div>
                    <div class="p-b-des-text tab_mar-t-20">
                        <p class="p-b-des-t-title">ТЕХНИЧЕСКИЕ ДАННЫЕ:</p>
                        <br>— бесперебойная нагрузка до 120 кг
                        <br>— удобная спинка
                        <br>— специальные выемки придают эффект массажа во время сидения, что дает вам чувство высокого комфорта и не позволяет на быструю утомляемость.
                        <br>— изготовлены из экологической кожи очень крепкой, прочной и водонепроницаемой
                        <br>— заполнены специальной пеной, которая дает очень приятное ощущение сидения.
                        <br>— вес 16,5 кг
                        <br>— сиденье имеет продольную регулировку (перемещение вперед/назад)
                    </div>
                </div>
                <div class="property-block mar-b-30">
                    <ul>
                        <li class="p-title">Характеристики</li>
                        <li class="p-ul-des">
                            <span class="p-ul-des-text">Материал</span>
                            <span class="p-ul-des-text p-font-wight">Кожа</span>
                        </li>
                        <li class="p-ul-des">
                            <span class="p-ul-des-text">Нагрузка</span>
                            <span class="p-ul-des-text p-font-wight">120 кг</span>
                        </li>
                        <li class="p-ul-des">
                            <span class="p-ul-des-text">Особенность</span>
                            <span class="p-ul-des-text p-font-wight">Регулирования угла наклона</span>
                        </li>
                        <li class="p-ul-des">
                            <span class="p-ul-des-text">Вес</span>
                            <span class="p-ul-des-text p-font-wight">16.5</span>
                        </li>
                    </ul>
                </div>
                <div class="property-block ">
                    <div class="certificate-area reset-mar">
                        <div class="certificate-slider-p certificate-slider">
                            <div class="swiper-wrapper">
                                <div id="1" class="cer-block swiper-slide">
                                    <img src="/images/bosh-tr-ts%201.png" alt="" class="cer-01-img">
                                </div>
                                <div id="2" class="cer-block swiper-slide">
                                    <img src="/images/bosh-tr-ts%201.png" alt="" class="cer-01-img">
                                </div>
                                <div id="3" class="cer-block swiper-slide">
                                    <img src="/images/bosh-tr-ts%201.png" alt="" class="cer-01-img">
                                </div>
                                <div id="4" class="cer-block swiper-slide">
                                    <img src="/images/bosh-tr-ts%201.png" alt="" class="cer-01-img">
                                </div>
                            </div>
                            <button class=" nav-btn  left-btn-n ">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="nav-icon-slider">
                                    <path d="
                        M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3
                        0s12.5-32.8 0-45.3L77.3 256 214.6 118.6c12.5-12.5 12.5-32.8
                        0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>
                            </button>
                            <button class=" nav-btn  right-btn-n">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="nav-icon-slider">
                                    <path d="
                        M246.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8
                        12.5-45.3 0s-12.5-32.8 0-45.3L178.7 256 41.4 118.6c-12.5-12.5-12.5-32.8
                        0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>
                            </button>
                            <div id="dots-container" class=" s-dot-block"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal_container">
    <div class="modal_block">
        <h1 class="modal_text_title">Оставьте заявку </h1>
        <p class="modal_text">Заполните пожалуйста форму и наши специлисты свяжутся с Вами чтобы сообщить стоимосить</p>
        <div class="modal_form_block">
            <input type="text" class="modal_form_input" placeholder="Ваше имя">
            <input type="text" class="modal_form_input" placeholder="Ваш номер телефон">
            <input type="text" class="modal_form_input" placeholder="Ваш E-mail">
            <buttonc class="modal_btn">Отправить</buttonc>
        </div>
        <p class="modal_text_p">Нажимая отправить вы соглашаетесь с условиями обработки персональных данных</p>
    </div>
</div>